@charset "UTF-8";
/*全体*/
body{
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* ヘッダーメニュー */
#HeaderMenu ul {
  font-size: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px; /* ← 項目の間にスペース */
  padding: 0;
  margin: 0;
}

#HeaderMenu li {
  list-style: none;
  position: relative;
  padding: 0 15px;
}

/* ↓ 境界線（縦線）をli要素の右側に追加 */
#HeaderMenu li:not(:last-child)::after {
  content: '';
  position: absolute;
  right: -270px;
  top: 50%;
  transform: translateY(-50%);
  height: 40px;
  width: 2px;
  background-color:black; /* ← 線の色（好みに応じて） */
}

.Menu{
  text-decoration: none;
  padding: 4px; /* 枠が出た時のズレ防止に */
  transition: border 0.15s ease; /* アニメーションをつける */
}

.Menu:hover{
  border-bottom: 3px solid black;
}

/*メイン*/
#Main{
  width: fit-content;
  margin: 0 auto;
}

#Main h1{
  margin-top: 200px;
}

#Main p{
  margin-top: 70px;
  border-bottom:  2px solid black;
}

.Mail{
  display: block;
  margin-top: 100px;
}

#Main a{
  text-decoration: none;
}